extends ../layout 

block content 
  if categories && categories.length > 0
    ul 
      each category in categories 
        li
          a(href=category.url) #{category.name}
  else 
    p 
      i There are not any categories.
  
  p 
    a(href='/category/new') Add New Category